# IDE & OS Specific Files
.vscode/
.idea/
.DS_Store
*.swp

# CMake Build Directories (Root Level)
# Ignores build/, buildgpu/, build_cpu/, etc. at the project root
build*/
Build*/
nsebuild*/
nseBuild*/
NSEbuild*/
NSEBuild*/
out/

# Executable Binaries
# Ignore the compiled solver binaries inside the Exec subfolders
# Build artifacts and binaries
lgfpoisson
nserun
*.o
*.ex
plt*
post*

Exec/build*/
Exec/Build*/
Exec/nsebuild*/
Exec/Nsebuild*/
Exec/NSEbuild*/
Exec/NSEBuild*/


# AMReX Simulation Data & Results
# Ignore all plotfiles and post-processing dumps across all solvers
Exec/**/Results/plt*
Exec/**/Results/post*

# Exception: Explicitly track your Python analysis scripts
!Exec/**/Results/postProcess.py

# Deprecated / Backup
Exec/pre_file_tree_upgrade_build